<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Movie Menu</title>
</head>
<body>
<center>
<h1>Movie</h1>
<h2>Add Movie</h2>
<form action="/submit" method="post">
     Movie ID:<br>
     <input type="value" name="idMovie" value=""><br>
     Movie Name:<br>
     <input type="text" name="MovieName" value=""><br>
     Year Released<br>
     <input type="value" name="MovieYear" value=""><br><br>
     <input type="submit" value="Add">
</form>
<div><a href="/movie">Back</a></div>
</center>
</body>
</html>