<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Room Menu</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
<center>
<h1>Room</h1>
<h2>Delete Room</h2>
<p>
    Delete a Room by input its Room Number
</p>
<form action="/deleteRoom" method="post">
     <input type="value" name="RoomNumber" value="">
     <input type="submit" value="Delete">
</form>
<div><a href="/room">Back</a></div>
</center>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>