<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movie Menu</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
<center>
<h1>Movie</h1>
<h2>Delete Movie</h2>
<p class="p">
    Delete a Movie by input its Name
		<class="btn btn-lg btn-default">
</p>
<form action="/deleteMovie" method="post">
     <input type="text" name="MovieName" value="">
     <input type="submit" value="Delete">
</form>
<div><a href="/movie">Back</a></div>
</center>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>