<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Customer Menu</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
<center>
<h1>Customer Menu</h1>
<div>
<img src ="{{url_for('static', filename='gif/bilibili.gif')}}">
</div><br />
<div>
	<button class="searching">
		<a href="/searching"><class="btn btn-lg btn-default">Search a showing</a>
	</button>
	<button class="buyticket">
		<a href="/buyticket"><class="btn btn-lg btn-default">Buy a ticket</a>
	</button>
	<button class="rating">
		<a href="/rating"><class="btn btn-lg btn-default">Rate a showing</a>
	</button>
	<button class="history">
		<a href="/history"><class="btn btn-lg btn-default">Check your history</a>
	</button>
	<button class="profile">
		<a href="/profile"><class="btn btn-lg btn-default">Customer profile</a>
	</button>
	<button class="attack">
		<a href="/injectionattack"><class="btn btn-lg btn-warning">Attack</a>
	</button><br><br />
	<button class="back">
		<a href="/"><class="btn btn-lg btn-default">Back to Main Menu</a>
	</button>

</div>
</center>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>