<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Movie Menu</title>
</head>
<body>
<center>
<h1>Movie</h1>
<h2>Add Movie</h2>
<form action="/submit" method="post">
     Movie ID:<br>
     <input type="value" name="idMovie" value=""><br>
     Movie Name:<br>
     <input type="text" name="MovieName" value=""><br>
     Year Released<br>
     <input type="value" name="MovieYear" value=""><br><br>
     <input type="submit" value="Add">
</form>
<h2>Delete Movie</h2>
<form action="/submit" method="post">
     <input type="text" name="MovieName" value="">
     <input type="submit" value="Delete">
</form>
<h2>Update Movie</h2>
<form action="/submit" method="post">
     <input type="text" name="MovieName" value=""><br><br>
     <input type="submit" value="Update">
</form>
<h2>Update Movie</h2>
<form action="/submit" method="post">
     <input type="text" name="MovieName" value=""><br><br>
     <input type="submit" value="Update">
</form>
<h2>List Movie</h2>
<form action="/submit" method="post">
     <input type="submit" value="List"><br><br>
</form>
<div><a href="backend.html">Back</a></div>
</center>
</body>
</html>