<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Movie Menu</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
<center>
<h1>Movie Menu</h1>
<div>
	<p class="addmovie">
		<a href="/addmovie"><class="btn btn-lg btn-default">Add Movie</a>
	</p>
	<p class="deletemovie">
		<a href="/deltemovie"><class="btn btn-lg btn-default">Delete Movie</a>
	</p>
	<p class="updatemovie">
		<a href="/updatemovie"><class="btn btn-lg btn-default">Update Movie</a>
	</p>
	<p class="listmovie">
		<a href="/listmovie"><class="btn btn-lg btn-default">List Movie</a>
	</p>
	<p class="back">
		<a href="/backend"><class="btn btn-lg btn-default">Back</a>
	</p>

</div>
</center>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>