<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Rate a showing</title>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>

<body>
<center>
<h1>Movie _(:з」∠)_ Theatre</h1>
</div>
	{{msg}}
</div>
</center>
<div>
    <a href="/frontend">Back to the main page</a>
</div>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>