<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Room Menu</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
<center>
<h1>Room Menu</h1>
<div>
<img src ="{{url_for('static', filename='gif/bilibili.gif')}}">
</div><br />
<div>
	<button class="addroom">
		<a href="/addroom"><class="btn btn-lg btn-default">Add Room</a>
	</button>
	<button class="deleteroom">
		<a href="/deleteroom"><class="btn btn-lg btn-default">Delete Room</a>
	</button>
	<button class="updateroom">
		<a href="/updateroom"><class="btn btn-lg btn-default">Update Room</a>
	</button>
	<button class="listroom">
		<a href="/listroom"><class="btn btn-lg btn-default">List Room</a>
	</button>
	<button class="back">
		<a href="/backend"><class="btn btn-lg btn-default">Back</a>
	</button>

</div>
</center>
</body>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</html>