<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
function getIndex()
  {
  var x=document.getElementById("mySelect")
  alert(x.selectedIndex)
  }
</script>
</head>
<body>

<form>
<p>Choose your name  <select name="Name">
  <option value="Will Beldman">Will Beldman</option>
  <option value="Bill Clinton">Bill Clinton</option>
  <option value="Hillary Clinton">Hillary Clinton</option>
  <option value="Donald Trump">Donald Trump</option>
  <option value="Gary Johnson">Gary Johnson</option>
  <option value="Jill Stein">Jill Stein</option>
  <option value="Barack Obama">Barack Obama</option>
</select></p>
<br /><br />
<input type="button" onclick="getIndex()"
value="check your profile">
</form>

</body>
</html>